.TopBoton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.794);
    border:none;
    padding: 0;
  }
  
  .TopBoton:focus {
    outline: none;
  }
  
  .TopBoton:hover {
    background-color: #facc4f;
  }
  
  
  