.css-2wyndr-MuiPaper-root-MuiCard-root:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.css-478dgn-MuiPaper-root-MuiCard-root {
    overflow: hidden;
}

.css-dnrpxu-MuiCardActions-root {
    margin-bottom: 8px;
}
